.scoreboard-page{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif, 'Helvetica Neue' ;
    max-width: 1280px;
}