.menu * {
    font-size: 17px;
    width: 50%;
    margin: 0 auto;
    list-style: none;
    display: inline;
    padding-left: 50px;
    font-style: oblique;
}
.menu li:hover {
    text-decoration: solid;
    font-size: 20px;
}
.menu {
    display: flex;
    justify-content: center;
}
